@import "normalize";
@import "reset";
@import "fonts";
@import "burger";
@import "mixin";
a:active,
a:focus {
    outline: none;
}

* {
    transition: all 0.8s;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    max-width: $width;
}


/* Header */

.header {
    max-width: 100%;
    padding: 50px 0 200px 0;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    @media (max-width: 1024px) {
        padding: 0 0 200px 0;
    }
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 1024px) {
        flex-direction: column;
    }
}

.logo {
    display: flex;
    align-items: flex-end;
    @media (max-width: 1024px) {
        position: absolute;
        z-index: 7;
        top: 6vh;
        left: 7vh;
    }
}

.circle_1_logo {
    display: block;
    width: 20px;
    height: 20px;
    background: $color_site;
    border-radius: 20px;
}

.circle_2_logo {
    margin: 0 0 0 9px;
    display: block;
    width: 20px;
    height: 35px;
    background: #F063B8;
    border-radius: 20px;
}

.menu {
    display: flex;
}

// Menu burger_btn
@import "burger";
.menu_list {
    margin: 0 40px 0 40px;
    padding: 10px;
}

.menu_list_item {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 500;
    font-size: $fs_1_txt;
    line-height: 160%;
    color: #4B5D68;
    &:hover {
        color: $color_txt_1;
    }
}

.btn_demo {
    @include btn_demo;
    padding: 17px 29px;
    @media (max-width: 1024px) {
        display: none;
    }
}

.head_block {
    margin: 130px 0 0 0;
    display: flex;
    position: relative;
    @media (max-width: 1024px) {
        justify-content: center;
    }
}

.txt_header {
    position: relative;
    z-index: 4;
    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.head_header {
    max-width: 645px;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: $color_txt_1;
    @media (max-width: 655px) {
        font-size: 46px;
        padding: 0 0 0 20px;
    }
}

.text_header {
    margin: 50px 0 66px 0;
    max-width: 380px;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    @media (max-width: 655px) {
        padding: 0 0 0 20px;
    }
}

.btn_txt_header {
    @include btn_learn;
    padding: 16px 37px;
}

.img_header {
    position: absolute;
    z-index: 2;
    left: 25%;
    top: 15%;
    @media (max-width: 1024px) {
        left: 0;
        width: 87%;
        height: auto;
    }
}


/* Section_1 */

.section_1 {
    max-width: 100%;
    padding: 0 0 150px 0;
    @media (max-width: 1024px) {
        display: flex;
        justify-content: center;
    }
}

.txt_section_1 {
    display: flex;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }
}

.text_section_1 {
    padding: 0 92px 0 62px;
    max-width: 474px;
    align-self: center;
    @media (max-width: 655px) {
        padding: 0 20px;
    }
}

.img_section_1 {
    @media (max-width: 655px) {
        width: 70%;
        height: auto;
    }
}

.head_section_1 {
    @include head_section;
    text-align: left;
    @media (max-width: 1024px) {
        text-align: center;
    }
}

.text_section_11 {
    margin: 40px 0 0 0;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    @media (max-width: 1024px) {
        text-align: center;
        margin: 40px 0;
    }
}


/* Section_2 */

.section_2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 75px 0;
}

.head_section_2 {
    @include head_section;
}

.text_head_section_2 {
    padding: 50px 0 50px 0;
    max-width: 584px;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
}

.features_section_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature {
    display: flex;
    align-items: center;
    margin: 70px 36px;
    position: relative;
    @media (max-width: 655px) {
        flex-direction: column;
    }
}

.bcg_feature_1 {
    position: absolute;
    z-index: -1;
    width: 422px;
    height: 328px;
    background: #68C9BA;
    opacity: 0.2;
    left: 25%;
    border-radius: 170px 50px 50px 50px;
    @media (max-width: 655px) {
        width: 300px;
        left: -12%;
        top: 33%;
    }
}

.bcg_feature_2 {
    position: absolute;
    z-index: -1;
    width: 422px;
    height: 328px;
    background: $color_site;
    opacity: 0.2;
    left: 25%;
    border-radius: 170px 50px 50px 50px;
    @media (max-width: 655px) {
        width: 300px;
        left: -12%;
        top: 25%;
    }
}

.bcg_feature_3 {
    position: absolute;
    z-index: -1;
    width: 411px;
    height: 328px;
    background: #F063B8;
    opacity: 0.2;
    left: 25%;
    border-radius: 170px 50px 50px 50px;
    @media (max-width: 655px) {
        width: 300px;
        left: -12%;
        top: 25%;
    }
}

.bcg_feature_4 {
    position: absolute;
    z-index: -1;
    width: 411px;
    height: 328px;
    background: #2D9CDB;
    opacity: 0.2;
    left: 25%;
    border-radius: 170px 50px 50px 50px;
    @media (max-width: 655px) {
        width: 300px;
        left: -12%;
        top: 33%;
    }
}

.txt_feature {
    max-width: 220px;
    padding: 0 0 0 30px;
}

.head_feature {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    color: $color_txt_1;
}

.text_feature {
    padding: 20px 0 20px 0;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: normal;
    font-size: $fs_1_txt;
    line-height: 160%;
    color: #4B5D68;
}

.btn_feature {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 800;
    font-size: $fs_1_txt;
    line-height: 160%;
    display: flex;
    color: $color_txt_1;
    span {
        &::after {
            content: "\2192";
            padding: 0 0 0 10px;
            color: $color_site;
            font-size: $fs_1_txt;
        }
    }
}


/* Section_3 */

.section_3 {
    max-width: 100%;
    background: $color_site;
    border-radius: 50px;
    height: 709px;
    @media (max-width: 1024px) {
        max-width: 83%;
        height: 598px;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    @media (max-width: 665px) {
        padding: 20px 0;
    }
}

.head_section_3 {
    @include head_section;
    padding: 109px 0 0 93px;
    color: #ffffff;
    @media (max-width: 1024px) {
        padding: 0;
    }
}

.block_of_cards {
    padding: 0 0 0 93px;
    margin: 83px 0 0 0;
    position: relative;
    @media (max-width: 1024px) {
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
}

.cards {
    display: flex;
    max-width: 100%;
    position: relative;
}

.card {
    background: #FFFFFF;
    box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    display: flex;
    padding: 70px 70px 70px 70px;
    width: 500px;
    margin: 0 20px 0 0;
    @media (max-width: 1024px) {
        width: 443px;
    }
    @media (max-width: 665px) {
        max-width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }
}

.txt_card {
    width: 385px;
    padding: 0 0 0 30px;
    @media (max-width: 665px) {
        max-width: 80%;
    }
}

.head_card {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0.005em;
    color: $color_txt_1;
}

.name_card {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: $color_site;
}

.text_card {
    padding: 19px 0 0 0;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #4B5D68;
}

.cards_btns {
    display: flex;
    padding: 60px 0 0 0;
    align-items: center;
}

.btn_card {
    display: block;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        background: #F063B8;
    }
}

.btn_prev {
    margin-left: auto;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 8px;
    align-self: center;
    top: 9px;
    left: 20px;
    &:hover .prev {
        width: 40px;
        margin-right: 20px;
    }
}

.btn_next {
    margin-left: auto;
    cursor: pointer;
    position: relative;
    width: 40px;
    height: 8px;
    align-self: center;
    top: 9px;
    left: 20px;
    margin-right: 76px;
    margin-left: 20px;
    &:hover .next {
        width: 40px;
        margin-left: 0;
        margin-right: 20px;
    }
}

.active {
    transform: scale(1.2);
    background: #F063B8;
}

.prev {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    display: block;
    transition: 0.6s ease;
    &::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 2px;
        top: 3px;
        background: #ffffff;
        transform: rotate(45deg);
    }
    &::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 2px;
        bottom: 3px;
        background: #ffffff;
        transform: rotate(-45deg);
    }
}

.next {
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #ffffff;
    left: 0;
    display: block;
    align-self: center;
    transition: 0.6s ease;
    transform: rotate(180deg);
    &::after {
        content: '';
        position: absolute;
        width: 7px;
        height: 2px;
        top: 3px;
        background: #ffffff;
        transform: rotate(45deg);
    }
    &::before {
        content: '';
        position: absolute;
        width: 7px;
        height: 2px;
        bottom: 3px;
        background: #ffffff;
        transform: rotate(-45deg);
    }
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/* Footer */

.footer {
    max-width: 100%;
    margin: 284px 0 100px 0;
}

.nav_footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 665px) {
        flex-direction: column;
        align-content: center;
    }
}

.head_footer {
    @include head_section;
    text-align: left;
    @media (max-width: 665px) {
        text-align: center;
    }
}

.text_head {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
    @media (max-width: 665px) {
        align-self: center;
    }
}

.btn_demo_footer {
    @include btn_demo;
    @media (max-width: 665px) {
        margin: 20px 0 0 0;
    }
}

.btn_txt_footer {
    @include btn_learn;
    background: #F063B8;
    span {
        margin: auto;
    }
    @media (max-width: 665px) {
        margin: 20px 0 0 0;
    }
}

.menu_footer {
    display: flex;
    justify-content: space-around;
    padding: 170px 0 0 0;
    @media (max-width: 665px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.logo_footer {
    display: flex;
    flex-direction: column;
}

.logo_footer_img {
    display: flex;
    align-items: flex-end;
    padding: 0 0 30px 0;
}

.head_logo_footer {
    align-self: center;
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
    color: $color_txt_1;
    padding: 0 0 0 20px;
}

.adress_footer {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 500;
    font-size: $fs_1_txt;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: $color_txt_1;
    padding: 0 0 20px 0;
    @media (max-width: 665px) {
        text-align: center;
    }
}

.email_footer {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: normal;
    font-size: $fs_1_txt;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: $color_txt_1;
    @media (max-width: 665px) {
        text-align: center;
    }
}

.about_footer {
    display: flex;
    flex-direction: column;
    @media (max-width: 665px) {
        display: none;
    }
}

.head_menu_footer {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: 900;
    font-size: $fs_1_txt;
    line-height: 160%;
    color: $color_txt_1;
    padding: 0 0 30px 0;
}

.link_about {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: normal;
    font-size: $fs_1_txt;
    line-height: 250%;
    color: $color_txt_1;
}

.help_footer {
    display: flex;
    flex-direction: column;
    @media (max-width: 665px) {
        display: none;
    }
}

.social_footer {
    h3 {
        @media (max-width: 665px) {
            text-align: center;
        }
    }
}

.social_icons {
    display: flex;
}

.facebook {
    background: $color_txt_1;
    opacity: 0.1;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    margin: 0 14px 0 0;
    img {
        margin: auto;
    }
    &:hover,
    &:focus {
        opacity: 1;
    }
}

.twitter {
    background: $color_txt_1;
    opacity: 0.1;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    margin: 0 14px 0 0;
    img {
        margin: auto;
    }
    &:hover,
    &:focus {
        opacity: 1;
    }
}

.instagramm {
    background: $color_txt_1;
    opacity: 0.1;
    width: 50px;
    height: 50px;
    display: flex;
    border-radius: 50%;
    img {
        margin: auto;
    }
    &:hover,
    &:focus {
        opacity: 1;
    }
}

.rights {
    display: flex;
    justify-content: space-between;
    @media (max-width: 665px) {
        padding: 20px 0 0 0;
    }
}

.txt_rights {
    font-family: $font-family_1;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 180%;
    letter-spacing: 0.01em;
    color: $color_txt_1;
    padding: 0 0 0 73px;
}

.message_footer {
    background: #EAE0F9;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    width: 60px;
    height: 60px;
    margin: 0 50px 0 0;
    &:hover,
    &:focus {
        background: $color_site;
    }
}

.message_icon {
    fill: $color_site;
    margin: auto;
    &:hover {
        fill: #ffffff;
    }
    &:hover circle {
        fill: black;
    }
}